body {
	font-family: 'Open Sans', sans-serif;
	background: #f7f1e6;
	text-align: center;
}

h1,h2,h3,h4,p,ul {
	margin: 0;
	padding: 0
}
a,a: active,a: focus,a: hover {
	text-decoration: none;
	outline: 0
}
#content >  h1 {
	font-family: 'Leckerli One', cursive;
	letter-spacing: 5px;
	margin: 38px 0 0;
	color: #3d2c0f;
	font-size: 5em;

}
#content .small {
	font-family: 'Leckerli One', cursive;
	font-size: 2em;
	color: #3d2c0f;
	margin-top: 25px;
}

#content p {
	font-size: 1.5em;
	color: #eee;
	margin-bottom: 15px;
}

.posts {
	color: #2e2e2e;
}

.post a {
	text-decoration: none;
	color: #2e2e2e;
}

.post a:hover {
	text-decoration: underline;
}

#social {
	margin-top: 20px;
	bottom: 40%;
}
.social-icon {
	display: inline-block;
	width: 40px;
	height: 40px;
	margin: 0 7px;
}

.projects {
	text-align: center;
	margin: 0 auto;
	margin-bottom: 50px;
}

.project {
	display: inline-block;
	background: rgba(220, 196, 152, 0.7);
	border: 1px solid rgba(233, 155, 119, 0.4);
    border-radius: 4px;
    color: #27424B;
    width: 400px;
    height: 150px;
    line-height: 75px;
    margin-top: 30px;
    margin-left: 35px;
	text-decoration: none;
	color: #7D283D;
	box-shadow: 5px 5px 5px;
}

.project:hover {
	background: rgba(233, 155, 119, 0.4);
}

.project .title {
	font-family: 'Leckerli One', cursive;
	display: block;
	font-size: 2em;
}

.project .description {
	display: block;
	background: rgba(233, 155, 119, 0.4);
}

.medium {
	border-radius: 10px;
}

@media (max-width: 360px) {
	#content h1 {
		font-size: 4em;
	}
	.project {
		width: 300px;
		margin-left: 0;
	}
}
