@charset "utf-8";

body {
    padding: 0 2rem;
    margin: 0 2rem;
}

main {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 100px;
}

.social {
    text-align: center;
    max-width: fit-content;
}
