<section>
  <h1>I&#8217;m also on this places</h1>
</section>
<section class="googleplus">
  <h1>
    <a target="_blank" href="https://plus.google.com/111892124923456159049?rel=author">
      <img src="http://www.google.com/images/icons/ui/gprofile_button-32.png" width="32" height="32">
      Google+
    </a>
  </h1>
  <h1>
    <a target="_blank" href="https://facebook.com/ellisonleao">
      <img src="/images/facebook.png" width="32" height="32">
      Facebook
    </a>
  </h1>
  <h1>
    <a target="_blank" href="https://linkedin.com/in/ellisonleao">
      <img src="/images/linkedin.png" width="32" height="32">
      Linkedin
    </a>
  </h1>
</section>
