[submodule ".themes/murky-mussels"]
	path = .themes/murky-mussels
	url = git://github.com/octopress-themes/murky-mussels.git
[submodule ".themes/budget-bumbago"]
	path = .themes/budget-bumbago
	url = git://github.com/octopress-themes/budget-bumbago.git
[submodule ".themes/blanket"]
	path = .themes/blanket
	url = git://github.com/octopress-themes/blanket.git
